* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    position: relative;
    background-color: #fff;
    font-family: "Raleway-Regular";
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: "Raleway-Regular";
    src: url("../fonts/Raleway-Regular.ttf");
}

.brand {
    text-align: center;
}

.brand img {
    width: 50px;
}

.p1:hover,
.p2:hover {
    opacity: .3;
    cursor: pointer;
}

h4 {
    color: grey;
    font-size: 24px;
    font-weight: 400;
}

#portfolio p {
    color: grey;
    font-size: 12px;
    font-weight: 200;
}

.content {
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    text-align: center;
}

.filters {
    width: 100%;
    text-align: center;
}

ul {
    list-style: none;
    padding: 20px 0;
}

li {
    display: inline;
    padding: 10px 25px;
    font-size: 14px;
    color: #636363;
    font-weight: 400;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: .2em;
}

li:hover {
    color: #a6a6a6;
}

li.active {
    color: #ccc;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.grid,
.filters {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    transition: .25s all ease;
}

.grid-item {
    width: 33.3%;
    padding: 0 15px;
    margin: 15px 0;
    animation-name: sh_animate_up;
    animation-duration: .5s;
}

.grid-item img {
    width: 100%;
    margin-bottom: 0px;
    transition: .4s all ease-in-out;
}

.item_content {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    position: relative;
    transition: .7s all ease-in-out;
    overflow: hidden;
}

.item-overlay-bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: .5s all ease-in-out;
    z-index: 10;
    background: rgba(71, 201, 229, 0.9);
    background: -moz-linear-gradient(45deg, rgba(71, 201, 229, 0.4) 0%, rgba(102, 252, 233, 0.4) 100%);
    background: -webkit-linear-gradient(45deg, rgba(71, 201, 229, 0.4) 0%, rgba(102, 252, 233, 0.4) 100%);
    background: linear-gradient(45deg, rgba(71, 201, 229, 0.4) 0%, rgba(102, 252, 233, 0.4) 100%);
}

.fancy-item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
}

.fancy-item-overlay-content {
    width: 100%;
}

.fancy-item-overlay-content a {
    display: block;
    opacity: 0;
    position: relative;
    z-index: 11;
}

.fancy-item-overlay-content a h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.fancy-item-overlay-lightbox {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    color: #fff !important;
    padding: 4px;
    opacity: 0;
    z-index: 11;
}

.grid-item:hover img {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
}

.grid-item:hover .item-overlay-bg {
    opacity: 1;
    background-color: rgba(87, 204, 229, .8);
}

.grid-item:hover .fancy-item-overlay-content a {
    animation-name: sh_animate_up_small;
    animation-duration: .6s;
    opacity: 1;
}

.grid-item:hover .fancy-item-overlay-lightbox {
    animation-name: sh_animate_up_small2;
    animation-duration: .6s;
    opacity: 1;
}

@keyframes sh_animate_up_small2 {
    0% {
        transform: translate3d(0, 15px, 0);
        opacity: .2;
    }

    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes sh_animate_up_small {
    0% {
        transform: translate3d(0, 20px, 0);
        opacity: .2;
    }

    25% {
        opacity: .3;
    }

    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes sh_animate_up {
    0% {
        transform: translate3d(0, 100px, 0);
        opacity: 0;
    }

    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.main_img {
    width: 100%;
    position: relative;
}

.main_img img {
    width: 100%;
    max-width: 100%;
    display: block;
}

.main_img .text {
    position: absolute;
    width: 50%;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.main_img .text h1 {
    font-size: 60px;
    font-weight: 200;
    color: #ffffff;
    margin-bottom: 20px;
}

.main_img .text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.8);
}

.isotope_content {
    position: relative;
    margin-top: -200px;
    padding-bottom: 50px;
}

/*GALLERY*/
.backDrop {
    background-color: #000;
    display: none;
    filter: alpha(opacity=0);
    height: 100%;
    left: 0px;
    opacity: .0;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 50;
}

.box {
    border-top-width: 15px;
    border-right-width: 15px;
    border-bottom-width: 15px;
    border-left-width: 15px;
    border-style: solid;
    border-color: white;
    box-shadow: 0px 0px 5px #444444;
    display: none;
    left: 50%;
    opacity: 0;
    position: absolute;
    transform: translate(-50%, 0);
    top: 5%;
    z-index: 51;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    max-width: 850px;
    width: 90%;
}

.close {
    color: white;
    cursor: pointer;
    float: left;
    font-size: 32px;
    margin: 10px;
    position: absolute;
    right: -70px;
    top: -75px;
}

.largeImage {
    display: block;
}

/*footer*/

.contact_info {
    padding: 30px 15px;
    background-color: #f5f5f5;
    text-align: center;
}

.contact_info span {
    display: block;
    margin-bottom: 20px;
    font-size: 20px;
    color: #505050;
}

.social-container {
    width: 400px;
    text-align: center;
    margin: 0 auto;
}

.social-icons {
    padding: 0;
    list-style: none;
    margin: 15px;
}

.social-icons li {
    display: inline-block;
    margin: 3px;
    position: relative;
    font-size: 18px;
    padding: 0px;
}

.social-icons i {
    color: #fff;
    position: absolute;
    top: 21px;
    left: 21px;
    transition: all 265ms ease-out;
}

.social-icons a {
    display: inline-block;
}

.social-icons a:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: block;
    background: linear-gradient(45deg, #47c9e5, #66fce9);
    transition: all 265ms ease-out;
}

.social-icons a:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in;
}

.social-icons a:hover i {
    transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    color: #47c9e5;
    background: -webkit-linear-gradient(45deg, #47c9e5, #66fce9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
}

#return-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: .3s all ease;
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-align: center;
    overflow: hidden;
    z-index: 5000;
    color: #cecece;
    border: 2px solid #cecece;
    box-shadow: 0px 3px 13px 1px rgba(0, 0, 0, .12);
    background-color: #fff;
    border-width: 0 !important;
    font-size: 20px;
    border-radius: 50%;
    display: none;
    transition: all 265ms ease-in;
}

#return-to-top i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 265ms ease-in;
}

#return-to-top:hover {
    background: rgba(71, 201, 229, 0.9);
    background: -moz-linear-gradient(45deg, rgba(71, 201, 229, 0.9) 0%, rgba(102, 252, 233, 0.9) 100%);
    background: -webkit-linear-gradient(45deg, rgba(71, 201, 229, 0.9) 0%, rgba(102, 252, 233, 0.9) 100%);
    background: linear-gradient(45deg, rgba(71, 201, 229, 0.9) 0%, rgba(102, 252, 233, 0.9) 100%);
}

#return-to-top:hover i {
    color: #fff;
}

.item_example {
    display: none;
    background-color: rgba(23, 23, 23, 0.8);
}

.box .item_example {
    display: block;
}

.box .item_example img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.load-more_wrapp {
    width: 100%;
    text-align: center;
    padding: 15px;
}

#load-more {
    color: #fff;
    background: rgba(71, 201, 229, 0.9);
    background: -moz-linear-gradient(45deg, rgba(71, 201, 229, 0.9) 0%, rgba(102, 252, 233, 0.9) 100%);
    background: -webkit-linear-gradient(45deg, rgba(71, 201, 229, 0.9) 0%, rgba(102, 252, 233, 0.9) 100%);
    background: linear-gradient(45deg, rgba(71, 201, 229, 0.9) 0%, rgba(102, 252, 233, 0.9) 100%);
    display: inline-block;
    padding: 20px 45px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: .2em;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

#load-more:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}

#load-more:hover,
#load-more:focus,
#load-more:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

#load-more:hover:before,
#load-more:focus:before,
#load-more:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
}

#preloader {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100vh;
    background: #000;
    top: 0;
    left: 0;
}

#preloader div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;
}

#preloader div img {
    display: inline-block;
    max-width: 80%;
    margin: 0 auto;
}

/*RESPONSIVE*/
@media all and (max-width: 1440px) {
    .isotope_content {
        margin-top: -130px;
    }

    .main_img .text h1 {
        font-size: 45px;
    }

    .main_img .text {
        width: 70%;
    }

    .main_img .text p {
        font-size: 17px;
    }
}

@media all and (max-width: 1200px) {
    .isotope_content {
        width: 90%;
        margin: -100px auto 0;
    }

    .main_img .text h1 {
        font-size: 40px;
    }

    .main_img .text {
        width: 80%;
    }

    .main_img .text p {
        font-size: 16px;
    }

    .grid-item {
        padding: 0px 10px;
        margin: 10px 0px;
    }

    li {
        padding: 10px 20px;
    }

    .contact_info {
        padding: 30px 15px 5px;
    }

}

@media all and (max-width: 992px) {
    li {
        padding: 5px 10px;
        font-size: 13px;
    }

    .main_img .text h1 {
        font-size: 35px;
    }

    .main_img .text p {
        font-size: 14px;
    }

    .social-icons a:before {
        width: 45px;
        height: 45px;
    }

    .social-icons i {
        top: 13px;
        left: 14px;
    }

    .isotope_content {
        padding-bottom: 20px;
    }

    .close {
        right: -20px;
    }
}

@media all and (max-width:769px) {
    .isotope_content {
        width: 95%;
        margin: 0px auto;
    }

    .filters ul li {
        margin-bottom: 10px;
        display: inline-block;
    }

    #load-more {
        padding: 15px 35px;
        font-size: 14px;
    }
}

@media all and (max-width: 600px) {
    .main_img .text h1 {
        font-size: 30px;
    }

    .main_img .text {
        width: 90%;
    }

    .main_img .text p {
        font-size: 13px;
    }

    .grid-item {
        width: 50%;
    }

    .social-container {
        width: 100%;
    }
}

@media all and (max-width: 480px) {

    .main_img .text {
        width: 100%;
        position: relative;
        left: auto;
        top: auto;
        transform: translate(0px, 0px);
        background-color: #54dfe6;
        padding: 20px;
    }

    .main_img .text h1 {
        font-size: 23px;
    }

    .grid-item {
        padding: 0px 5px;
        margin: 3px 0px;
    }

    .contact_info {
        padding: 20px 15px 5px;
    }

    .contact_info span {
        margin-bottom: 10px;
        font-size: 18px;
    }

    #return-to-top {
        bottom: 25px;
        right: 15px;
    }
}